.AddInfo {
  margin: 10px auto;
  border: 2px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 320px;
  padding: 20px;
  height: 100px;
}

.AddInfo label {
  padding-right: 2px;
  padding-bottom: 2px;
}

.AddInfo button {
  float: right;
}

.AddInfo input {
  margin: 2px;
}

.button{
  margin-left: 50px;
}
